html body {
    overflow: hidden !important;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 30px;
}

.home {
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: #222222;
}

.header {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 3px solid transparent;
    border-bottom-color: white;
    animation: topslide 4s 1;
}

@keyframes topslide{
    90% {
        -webkit-transform: translateY(1050px);
        transform: translateY(1050px);
    }

    100% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0)  scale(1);
    }
}

.head {
    position: absolute;
    margin-left: 10px;
    animation: toMid 5s;
}

@keyframes toMid{
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    60% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }

    80% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }

    100% {
        -webkit-transform: translateX(0px) scale(1);
        transform: translateX(0px) ;
    }
}

h1 span {
    position: absolute;
    bottom: 0;
}

.content {
    height: calc(100vh - 100px);
    width: 100vw;
}

.about {
    animation: conslide1 4.6s 1;
}

@keyframes conslide1{
    0% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    90% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    100% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0)  scale(1);
    }
}

.hobby {
    animation: conslide2 4.8s 1;
}

@keyframes conslide2{
    0% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    90% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    100% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0)  scale(1);
    }
}

.contact {
    animation: conslide3 5s 1;
}

@keyframes conslide3{
    0% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    90% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
    }

    100% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0)  scale(1);
    }
}